@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: -webkit-font-smoothing;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0 78px;
  margin: 0 auto;
}

@keyframes animeLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animeRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animeLeft {
  animation: animeLeft 0.5s ease forwards;
}

.animeRight {
  animation: animeRight 0.9s ease forwards;
}
